<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Watchdog</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/chart.js"></script>
    <script src="/bower_components/Chart.js/Chart.min.js"></script>
    <script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="css/currspeedchart.css">

</head>
<body ng-app="myApp">
<div ng-controller="ChartController">


    <div class="chart-container">
        <h1>Live Speed Graph</h1>
        <canvas id="line" class="chart chart-line" data="data" labels="labels"
                legend="true" series="series" click="onClick"></canvas>
        <button ng-click="pause()">{{buttonmessage}}</button> Current speed: {{currentspeed | number:2}}mph,
        <input type="checkbox" ng-model="supress"> Ignore 0 mph
    </div>
</div>
</body>
</html>
